<?xml version="1.0" encoding="utf-8"?>
<!-- Configuration for coverlet.collector: dotnet test -\-collect "XPlat Code Coverage" -\-settings coverage.runsettings -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[Postie.*]*</Include>
          <Exclude>[*.Tests]*,[Postie.Sample.*]*</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
